<div class="container" cg-busy="promise">
    <div class="page-header">
        <h1 class="page-title">
            Favorites
        </h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-xl-3" ng-repeat="manga in mangalist">
            <div class="card" style="min-height: 365px;">
                <div class="card-header">
                    <h3 class="card-title"><a href="/#/manga/{{manga.i}}"> {{ manga.t }} </a></h3>
                </div>
                <div class="card-alert alert alert-primary mb-0">
                    Unread chapters: {{getUnread(manga.i)}}
                </div>
                <div class="card-body" ng-click="redirect(manga.i)">
                    <img src="https://cdn.mangaeden.com/mangasimg/{{ manga.im }}" alt="" style="height:253px;" class="rounded mx-auto d-block"/>
                </div>
                <div class="card-footer">
                    <a href="" ng-click="sendToArchive(manga.i)" class="btn btn-outline-primary btn-sm" style="width: 100%;">send to archive</a>
                </div>
            </div>
        </div>
    </div>
    <div class="desktop-12 columns" ng-if="mangalist.length === 0">
        <p>Nothing found. Please go homepage and add some mangas you want to read to favorites</p>
    </div>
</div>