<section id="works" cg-busy="promise">
    <div class="container">
        <div class="desktop-12 columns">
            <h2 class="page-header">Sign-in</h2>
        </div>
        <div class="desktop-5 columns">
            <input type="text" placeholder="email" ng-model="login.email" />
        </div>
        <div class="desktop-5 columns">
            <input type="password" placeholder="password" ng-model="login.password" />
        </div>
        <div class="desktop-2 columns">
            <a href="" class="button full black" style="margin-top: 5px;" ng-click="login()">login</a>
        </div>
        <div class="desktop-12 columns">
            <h2 class="page-header">or Sign-up</h2>
        </div>
        <div class="desktop-5 columns">
            <input type="text" placeholder="name" ng-model="register.username" />
        </div>
        <div class="desktop-3 columns">
            <input type="text" placeholder="email" ng-model="register.email" />
        </div>
        <div class="desktop-2 columns">
            <input type="password" placeholder="password" ng-model="register.password" />
        </div>
        <div class="desktop-2 columns">
            <a href="" class="button full black" style="margin-top: 5px;" ng-click="register()">register</a>
        </div>
    </div>
</section>