<section id="works" class="page single" cg-busy="promise">
    <div class="container">
        <div class="desktop-3 tablet-12 nested columns">
            <div class="sidebar sticky">
                <div class="desktop-3 tablet-12 mobile-half columns">
                    <div class="box-info">
                        <h3 class="border-top">{{manga.title}}</h3>
                    </div>
                </div>
                <div class="desktop-3 tablet-12 mobile-half columns">
                    <div class="box-info">
                        <img src="https://cdn.mangaeden.com/mangasimg/{{ manga.image }}" style="margin-bottom:0px;">
                        <p>{{manga.description}}</p>
                    </div>
                </div>
                <div class="desktop-3 tablet-6 mobile-half columns">
                    <div class="box-info" style="border-top: 1px solid #f5f5f5;">
                        <p>
                            <b>Artist:</b> {{manga.artist}}
                            <br />
                            <b>Author:</b> {{manga.author}}
                            <br />
                            <b>First Released:</b> {{manga.released}}
                            <br />
                            <b>Status:</b> {{manga.status}}
                        </p>
                    </div>
                </div>
                <div class="desktop-3 tablet-6 mobile-half columns">
                    <div class="box-info" style="border-top: 1px solid #f5f5f5;">
                        <h3>Genres</h3>
                        <p style="display:block;">
                            <span ng-repeat="genre in manga.categories track by $index" class="label label-success" style="margin-right: 3px">{{genre}}
                                <br />
                            </span>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="desktop-9 tablet-12 columns">
            <h3 style="border-bottom: 1px solid #f5f5f5; padding-bottom:40px;padding-top: 30px;">Chapters</h3>
            <table class="table" show-filter="true">
                <tr>
                    <th>
                        Chapter number
                    </th>
                    <th>
                        Chapter name
                    </th>
                </tr>
                <tr ng-repeat="chapter in manga.chapters" style="cursor: pointer;" ng-click="detail(manga.id, chapter[3])">
                    <td>{{ chapter[0] }}</td>
                    <td>
                        {{chapter[2] != null ? chapter[2] : chapter[0] }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>
    </div>
</section>