<div class="container" cg-busy="promise">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{manga.title}}</h5>
                    <a href="" ng-click="addOrRemove()" ng-class="manga.isFavorite == 1 ? 'btn btn-success' : 'btn btn-danger'" style="width: 100%;">
                        <!--<img src="img/{{manga.isFavorite == 1 ? 'remove.png' : 'add.png'}}" style="margin-bottom: -7px;" />-->
                        {{manga.isFavorite == 1 ? 'remove from' : 'add to'}} favorites</a>
                    <img src="https://cdn.mangaeden.com/mangasimg/{{ manga.image }}" style="margin-top: 20px;margin-bottom: 20px;">
                    <p class="card-text" style="text-align: justify;text-justify: inter-word;">{{manga.description}}</p>
                </div>
                <div class="card-footer">
                    <p>
                        <b>Artist:</b> {{manga.artist}}
                        <br />
                        <b>Author:</b> {{manga.author}}
                        <br />
                        <b>First Released:</b> {{manga.released}}
                        <br />
                        <b>Status:</b> {{manga.status}}
                        <br />
                        <b>Genres:</b> {{manga.categories.join(', ')}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Chapters</h3>
                    <div class="card-options">
                        <a href="" ng-click="markAsAllRead()" class="btn btn-primary btn-sm">Mark as all read</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Chapter number
                                    </th>
                                    <th>
                                        Chapter name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="chapter in manga.chapters" style="cursor: pointer;" ng-class="manga.readedChapters.indexOf(chapter[3]) != -1 ? 'read' : ''" ng-click="detail(manga.id, chapter[3])">
                                    <td>
                                        <img src="img/{{manga.readedChapters.indexOf(chapter[3]) != -1 ? 'check' : 'uncheck'}}.png"
                                            style="margin-bottom:0px;" />
                                    </td>
                                    <td>{{ chapter[0] }}</td>
                                    <td>
                                        {{chapter[2] != null ? chapter[2] : chapter[0] }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>