<div class="container" cg-busy="promise">
    <div class="row">
        <div class="col-lg-9 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{manga.title}}</h3>
                    <div class="card-options">
                        <div col-md-4>
                            <div class="form-group" style="margin-right: 20px;">
                                <label class="form-label">Chapter</label>
                                <select class="form-control" name="selectedChapterId" ng-model="selectedChapterId" ng-change="changeChapter()">
                                    <option ng-repeat="chapter in manga.chapters" value="{{chapter[3]}}">{{chapter[0]}}</option>
                                </select>
                            </div>
                        </div>
                        <div col-md-4>
                            <div class="form-group" style="margin-right: 20px;">
                                <label class="form-label">Page</label>
                                <select class="form-control" name="currentImage" ng-model="currentImage">
                                    <option ng-repeat="c in chapter.images" value="{{c[0]}}">{{c[0] + 1}}</option>
                                </select>
                            </div>
                        </div>
                        <div col-md-4>
                            <div style="padding-top: 30px;">
                                <a href="" ng-click="prevChapter()">
                                    << Prev</a> |
                                        <a href="" ng-click="nextChapter()">Next >></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xl-12" id="img_page">
            <a href="" id="dynamicImg" ng-click="nextImage()" ng-keydown="$event.keyCode === 39 && nextImage()">
                <img src="https://cdn.mangaeden.com/mangasimg/{{chapter.images[totalImages - currentImage][1]}}" style="display: block;margin-left: auto;margin-right: auto;" imageonload>
            </a>
        </div>
    </div>
</div>