<section id="works" class="page single" cg-busy="promise">
    <div class="container">
        <div class="sidebar full-width">
            <div class="desktop-4 tablet-4 columns" style="padding-top: 42px;">
                <h3><a href="/#/manga/{{manga.id}}">{{manga.title}}</a></h3>
            </div>
            <div class="desktop-8 tablet-8 nested columns">
                <div class="desktop-2 tablet-4 columns">
                    &nbsp;
                </div>
                <div class="desktop-2 tablet-2 columns">
                    Chapter
                    <select name="selectedChapterId" ng-model="selectedChapterId" ng-change="changeChapter()">
                        <option ng-repeat="chapter in manga.chapters" value="{{chapter[3]}}">{{chapter[0]}}</option>
                    </select>
                </div>
                <div class="desktop-2 tablet-2 columns">
                    Page
                    <select name="currentImage" ng-model="currentImage">
                        <option ng-repeat="c in chapter.images" value="{{c[0]}}">{{c[0] + 1}}</option>
                    </select>
                </div>
                <div class="desktop-2 tablet-2 columns" style="padding-top: 42px;">
                    <a href="" ng-click="prevChapter()"> << Prev</a> | <a href="" ng-click="nextChapter()">Next >></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="desktop-12 columns">
            <a href="" id="dynamic" ng-click="nextImage()" ng-keydown="$event.keyCode === 39 && nextImage()"><img
                src="https://cdn.mangaeden.com/mangasimg/{{chapter.images[totalImages - currentImage][1]}}" class="img-center"></a>
        </div>
        <div class="clear"></div>
    </div>
</section>